<style>
  .cart--item--variant-name {
    line-height: normal;
  }
  .cart--footer {
    flex-wrap: wrap;
  }
  .cart--footer p.cstm-discount-text {
    width: 100%;
    text-align: right;
    margin: 10px 0px;
  }
  .cart--root:not([data-view='desktop']) .cart--footer p.cstm-discount-text {
    text-align: center;
  }

  

  {% comment %} @media  screen and (max-width: 875px) {
    .popup__custom__less100.active,.popup__custom__more100.active{
      left: -50px;
      top: 180px;
    }

  }
  @media  screen and (max-width: 580px) {
    .popup__custom__less100.active,.popup__custom__more100.active{
      left: -15px;
      top: 150px;
    }

  }
  @media  screen and (max-width: 400px) {
    .popup__custom__less100.active,.popup__custom__more100.active{
      left: -32px;
    }

  } {% endcomment %}
  @media only screen and (max-width: 480px) {
    .cart--root:not([data-view='desktop']) .cart--item--image {
      width: 35%;
      padding-left: 0;
      align-self: auto !important;
    }
  }
</style>

{%- liquid
  assign checkout_t = 'cart.checkout' | t
  assign all_items_added_t = 'cart.all_items_added' | t
  assign continue_t = 'cart.continue' | t
  assign empty_html_t = 'cart.empty_html' | t: collections_url: routes.all_products_collection_url
  assign minus_t = 'cart.minus' | t
  assign order_notes_t = 'cart.order_notes' | t
  assign plus_t = 'cart.plus' | t
  assign price_t = 'cart.price' | t
  assign quantity_t = 'cart.quantity' | t
  assign remove_t = 'cart.remove' | t
  assign subtotal_t = 'cart.subtotal' | t
  assign total_t = 'cart.total' | t
  assign your_cart_t = 'cart.your_cart' | t
  assign shipping_taxes_t = 'cart.shipping_taxes_not_included' | t
  if cart.taxes_included
    assign shipping_taxes_t = 'cart.shipping_taxes_included' | t
  endif

  assign show_cart_note = settings['cart--show-note']

  assign has_items = false
  if cart.item_count > 0
    assign has_items = true
  endif
-%}

{%- assign cart_items = cart.items -%}
{%- for item in cart_items -%}
  {%- liquid
    if item.variant.featured_media.preview_image
      assign preview_image = item.variant.featured_media.preview_image
    elsif item.product.featured_media.preview_image
      assign preview_image = item.product.featured_media.preview_image
    else
      assign preview_image = false
    endif
  -%}

  {%- capture desktop_items -%}
    {{- desktop_items -}}
{%  assign itempropupsell= item.properties | join : ', ' %}
    
 {% assign cart_title = item.product.title | join : ', ' %}

    <div
      class="cart--item  {% if itempropupsell contains 'Upsell' %}{% else %} notupsell{% endif %}"
    {%- assign property_size = item.properties | size -%}

        {%- if property_size > 0 -%}
 {%- for property in item.properties -%}
  {% if property.first contains 'Upsell' %}
    ddds
data-upsell-id="{{ property.last }}"
    {% endif %}
   {% endfor %}

          {% endif %}
      data-variant-id="{{ item.variant_id }}"
      data-quantity="{{ item.quantity }}"
      data-inventory-management="{{ item.variant.inventory_management }}"
      data-inventory-policy="{{ item.variant.inventory_policy }}"
      data-inventory-quantity="{{ item.variant.inventory_quantity | default: 0 }}"
      data-line-num="{{ forloop.index }}"
    >
      <div class="cart--item--image">
        <a href="{{ item.url }}" aria-label="{{ item.product.title }}">
          {%- liquid
            if preview_image != false
              render "image", image: preview_image, full_width: true
            else
              render "placeholder", type: 'product', aspect_ratio: 1, placeholder_index: 1
            endif
          -%}
        </a>
      </div>

      <div class="cart--item--title csmt">
        <div data-item="block-heading">
          <a href="{{ item.url }}">{% if item.variant.title contains 'Default' %}{{ item.product.title }}{% else %}{{ item.variant.title }}{% endif %}</a>
        </div>
{% comment %}
        {%- unless item.variant.title contains 'Default' -%}
          <div class="cart--item--variant-name" data-item="accent-text">
            <a href="{{ item.url }}">{{ item.variant.title }}</a>
          </div>
        {%- endunless -%}
{% endcomment %}
        {%- if item.selling_plan_allocation -%}
          <div class="cart--item--selling-plan" data-item="small-text">
            {{- item.selling_plan_allocation.selling_plan.name -}}
          </div>
        {%- endif -%}

        {%- assign property_size = item.properties | size -%}

        {%- if property_size > 0 -%}
          {%- for property in item.properties -%}
            {% capture prop_value %}  {{ property.first }} {% endcapture %}
              {% if property.first contains 'Upsell' %}{% else %}
            {%- unless property.last == blank -%}
              <br>
              {% if property.first == "Compare_Price" %}
              <p class="property-name {{ property.first }}" style="display:none;">{{ property.first }}:</p>
              {% comment %} Check if there was an uploaded file associated {% endcomment %}
              {%- if property.last contains '/uploads/' -%}
                <a href="{{ property.last }}">
                  {{ property.last | split: '/' | last }}
                </a>
              {%- else -%}
                <p class="item-property property-value" style="display:none;">
                {{ property.last }}
                </p>
              {%- endif -%}
                {% else %}
                {% if property.first == "Discount" %}
                  {% else %}
                {{ property.first }}:
              {% comment %} Check if there was an uploaded file associated {% endcomment %}
              {%- if property.last contains '/uploads/' -%}
                <a href="{{ property.last }}">
                  {{ property.last | split: '/' | last }}
                </a>
              {%- else -%}
                {{ property.last }}
              {%- endif -%}
                  {% endif %}
                {% endif %}
            {%- endunless -%}
                {% endif %}
          {%- endfor -%}
        {%- endif -%}

        <div class='cart--error' data-item='small-text' style='display:none;'>
          {{- all_items_added_t -}}
        </div>
      </div>

      <div class="cart--item--price" data-item="accent-text">
        {%- if item.original_price != item.final_price -%}
          <div data-item="light-accent-text">
            <s class="money">{{ item.original_price | money }}</s>
          </div>
        {%- endif -%}
        {%- for property in item.properties -%}
          {% if property.first == "Compare_Price" %}
        <div class="compare-price">
            {{ property.last }}
        </div>
            {% endif %}
        {% endfor %}
        <div class="money" data-item="accent-text">
          {{- item.final_price | money -}}
        </div>

        <div class="cart--item--unit-price-container" data-item="small-text">
          {%- liquid
            if item.unit_price_measurement
              echo item.unit_price | money | append: '/'
              if item.unit_price_measurement.reference_value != 1
                echo item.unit_price_measurement.reference_value
              endif
              echo item.unit_price_measurement.reference_unit
            endif
          -%}
        </div>

        {% if item.line_level_discount_allocations.size > 0 %}
          <div class="money" data-item="light-accent-text">
            {%- for discount_allocation in item.line_level_discount_allocations -%}
              {{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
            {%- endfor -%}
          </div>
        {% endif %}
      </div>

      <div class="cart--item--quantity">
    {%  assign itempropupsell= item.properties | join : ', ' %}
    
  {% if itempropupsell contains 'Upsell' %}{% else %}

        <div class="cart--quantity--container" data-item="input">
          <div
            class="cart--minus"
            data-item="minus"
            tabindex="0"
            aria-label="{{ minus_t }}"
          >
            {%- render 'icons', icon: 'minus' -%}
          </div>
          <label for="{{ view }}-updates-{{ item.key }}" data-item="hidden-text">
            {{- quantity_t -}}
          </label>
          <input
            class="cart--quantity--input"
            id="{{ view }}-updates-{{ item.key }}"
            type="text"
            name="updates[]"
            value="{{ item.quantity }}"
            min="1"
            pattern="[0-9]*"
            data-loading="false"
            tabindex='-1'
          />
          <div
            class="cart--plus"
            data-item="plus"
            tabindex="0"
            aria-label="{{ plus_t }}"
          >
            {%- render 'icons', icon: 'plus' -%}
          </div>
        </div>
{% endif %}
        <div class="cart--item--remove" data-item="block-link">
          <a
            href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0"
            class="remove"
            aria-label="{{ remove_t }}"
            title="{{ remove_t }}"
          >
            {{- remove_t -}}
          </a>
        </div>
      </div>

      <div class="cart--item--total" data-item="accent-text">
        {%- if item.original_line_price != item.final_line_price -%}
          <div data-item="light-accent-text">
            <s class="money">{{ item.original_line_price | money }}</s>
          </div>
        {%- endif -%}

        <div class="money">
          {{- item.final_line_price | money -}}
        </div>
      </div>
    </div>
  {%- endcapture -%}

  {%- capture mobile_items -%}
    {{- mobile_items -}}
{%  assign itempropupsell= item.properties | join : ', ' %}
    <div
      class="cart--item {% if itempropupsell contains 'Upsell' %}{% else %} notupsell{% endif %}"
    {%- assign property_size = item.properties | size -%}

        {%- if property_size > 0 -%}
 {%- for property in item.properties -%}
  {% if property.first contains 'Upsell' %}
    
data-upsell-id="{{ property.last }}"
    {% endif %}
   {% endfor %}
           {% endif %}
      data-variant-id="{{ item.variant_id }}"
      data-quantity="{{ item.quantity }}"
      data-inventory-management="{{ item.variant.inventory_management }}"
      data-inventory-policy="{{ item.variant.inventory_policy }}"
      data-inventory-quantity="{{ item.variant.inventory_quantity | default: 0 }}"
      data-line-num="{{ forloop.index }}"
     data-handle="{{ item.handle }}"
    >
      <div class="cart--item--title ">
        <div data-item="block-heading">
          <a href="{{ item.url }}">{% if item.variant.title contains 'Default' %}{{ item.product.title }}{% else %}{{ item.variant.title }}{% endif %}</a>
        </div>

        <div class='cart--error' data-item='small-text' style='display:none;'>
          {{- all_items_added_t -}}
        </div>
      </div>

      <div class="cart--item--image">
        <a href="{{ item.url }}" aria-label="{{ item.product.title }}">
          {%- liquid
            if preview_image != false
              render "image", image: preview_image, full_width: true
            else
              render "placeholder", type: 'product', aspect_ratio: 1, placeholder_index: 1
            endif
          -%}
        </a>
      </div>

      <div class="cart--item--info">
    {% comment %}
        {%- unless item.variant.title contains 'Default' -%}
          <div class="cart--item--variant-name" data-item="accent-text">
            <a href="{{ item.url }}">{{ item.variant.title }}</a>
          </div>
        {%- endunless -%}
    {% endcomment %}
    
        {%- if item.selling_plan_allocation -%}
          <div class="cart--item--selling-plan" data-item="small-text">
            {{- item.selling_plan_allocation.selling_plan.name -}}
          </div>
        {%- endif -%}

        {%- assign property_size = item.properties | size -%}
        {%- if property_size > 0 -%}
          <div class="cart--item-properties hhh">
          {%- for property in item.properties -%}
            
             {% if property.first contains 'Upsell' %}{% else %}
            {%- unless property.last == blank -%}
              <br>
              {% if property.first == "Compare_Price"  or property.first == "Discount"  %}
              <p class="property-name {{ property.first }}" style="display:none;">{{ property.first }}:</p>
              {% comment %} Check if there was an uploaded file associated {% endcomment %}
              {%- if property.last contains '/uploads/' -%}
                <a href="{{ property.last }}">
                  {{ property.last | split: '/' | last }}
                </a>
              {%- else -%}
                <p class="item-property property-value" style="display:none;">
                {{ property.last }}
                </p>
              {%- endif -%}
                {% else %}
                {% if property.first == "Compare_Price" or property.first == "Discount" %}
                  {% else %}
                {{ property.first }}:
              {% comment %} Check if there was an uploaded file associated {% endcomment %}
              {%- if property.last contains '/uploads/' -%}
                <a href="{{ property.last }}">
                  {{ property.last | split: '/' | last }}
                </a>
              {%- else -%}
                {{ property.last }}
              {%- endif -%}
                {% endif %}
                {% endif %}
            {%- endunless -%}
               {% endif %}
          {%- endfor -%}
          </div>
        {%- endif -%}

        <div class="cart--item--price">
          {%- if item.original_price > item.final_price -%}
            <div class="cart--item--orig-price" data-item="light-accent-text">
              <s class="money">{{ item.original_price | money }}</s>
            </div>
          {%- endif -%}
          {%- for property in item.properties -%}
          {% if property.first == "Compare_Price" %}
              <div class="compare-price">
                  {{ property.last }}
              </div>
            {% endif %}
          {% endfor %}
          <div class="cart--item--total money" data-item="accent-text">
            {{- item.final_price | money -}}
          </div>

          <div class="cart--item--unit-price-container" data-item="small-text">
            {%- liquid
              if item.unit_price_measurement
                echo item.unit_price | money | append: '/'
                if item.unit_price_measurement.reference_value != 1
                  echo item.unit_price_measurement.reference_value
                endif
                echo item.unit_price_measurement.reference_unit
              endif
            -%}
          </div>

          {%- if item.line_level_discount_allocations.size > 0 -%}
            <div class="cart--item--discounts" data-item="light-accent-text">
              {%- for discount_allocation in item.line_level_discount_allocations -%}
                {{ discount_allocation.discount_application.title }}&nbsp;
                (–<span class="money">{{ discount_allocation.amount | money }}</span>)
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>

        <div class="cart--item--quantity">
    {%  assign itempropupsell= item.properties | join : ', ' %}
    
  {% if itempropupsell contains 'Upsell' %}{% else %}

          <div class="cart--quantity--container" data-item="input">
            <div
              class="cart--minus"
              data-item="minus"
              tabindex="0"
              aria-label="{{ minus_t }}"
            >
              {%- render 'icons', icon: 'minus' -%}
            </div>
            <label for="{{ view }}-updates-{{ item.key }}" data-item="hidden-text">
              {{- quantity_t -}}
            </label>
            <input
              class="cart--quantity--input"
              data-line-num="{{ forloop.index }}"
              id="{{ view }}-updates-{{ item.key }}"
              type="text"
              name="updates[]"
              value="{{ item.quantity }}"
              min="1"
              pattern="[0-9]*"
              tabindex='-1'
              data-loading="false"
            />
            <div
              class="cart--plus"
              data-item="plus"
              tabindex="0"
              aria-label="{{ plus_t }}"
            >
              {%- render 'icons', icon: 'plus' -%}
            </div>
          </div>
{% endif %}
          <div class="cart--item--remove" data-item='block-link'>
            <a
              href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0"
              class="remove"
              aria-label="{{ remove_t }}"
              title="{{ remove_t }}"
            >
              {{- remove_t -}}
            </a>
          </div>

        </div>
      </div>

    </div>
  {%- endcapture -%}
{%- endfor -%}
<cart-root
  class="cart--root"
  data-section-id="{{ section.id }}"
  data-view="{{ view }}"
  data-has-items="{{ has_items }}"
>

  <div class="cart--header">
    <h2 class="cart--title" data-item="section-heading">
      {{- your_cart_t -}}
      <span>100 Days to Try It or Return It</span>
    </h2>
  </div>
  <div class="fsb_wrap" id="shipping_bar">
    <div class="shipping_badges">
      <div class="badge_col">
        <div class="badgeone">
          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 1024 1024" version="1.1">
            <path d="M511.322571 63.620993c-246.971881 0-447.189925 200.206788-447.189925 447.184809s200.218044 447.184809 447.189925 447.184809c246.978021 0 447.189925-200.206788 447.189925-447.184809S758.300592 63.620993 511.322571 63.620993L511.322571 63.620993zM767.82041 394.804834 478.605426 684.031075l-0.011256 0.016373c-13.331633 13.331633-33.667797 15.410991-49.185212 6.249331-2.87856-1.699712-5.584182-3.790326-8.055466-6.249331-0.005117-0.005117-0.005117-0.005117-0.005117-0.005117L254.825756 517.519714c-15.796778-15.808034-15.796778-41.432645 0-57.245795 15.808034-15.808034 41.437761-15.808034 57.245795 0l137.90279 137.90279 260.611529-260.611529c15.802918-15.802918 41.437761-15.802918 57.240679 0C783.628444 353.378329 783.628444 379.001917 767.82041 394.804834L767.82041 394.804834zM767.82041 394.804834"/>
          </svg>
          <p>Free Shipping</p>
        </div>
      </div>
      <div class="badge_col">
        <div class="badgetwo">
          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 1024 1024" version="1.1">
            <path d="M511.322571 63.620993c-246.971881 0-447.189925 200.206788-447.189925 447.184809s200.218044 447.184809 447.189925 447.184809c246.978021 0 447.189925-200.206788 447.189925-447.184809S758.300592 63.620993 511.322571 63.620993L511.322571 63.620993zM767.82041 394.804834 478.605426 684.031075l-0.011256 0.016373c-13.331633 13.331633-33.667797 15.410991-49.185212 6.249331-2.87856-1.699712-5.584182-3.790326-8.055466-6.249331-0.005117-0.005117-0.005117-0.005117-0.005117-0.005117L254.825756 517.519714c-15.796778-15.808034-15.796778-41.432645 0-57.245795 15.808034-15.808034 41.437761-15.808034 57.245795 0l137.90279 137.90279 260.611529-260.611529c15.802918-15.802918 41.437761-15.802918 57.240679 0C783.628444 353.378329 783.628444 379.001917 767.82041 394.804834L767.82041 394.804834zM767.82041 394.804834"/>
          </svg>
          <p>Gua Sha Tool</p>
        </div>
      </div>
      <div class="badge_col">
        <div class="badgethree">
          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 1024 1024" version="1.1">
            <path d="M511.322571 63.620993c-246.971881 0-447.189925 200.206788-447.189925 447.184809s200.218044 447.184809 447.189925 447.184809c246.978021 0 447.189925-200.206788 447.189925-447.184809S758.300592 63.620993 511.322571 63.620993L511.322571 63.620993zM767.82041 394.804834 478.605426 684.031075l-0.011256 0.016373c-13.331633 13.331633-33.667797 15.410991-49.185212 6.249331-2.87856-1.699712-5.584182-3.790326-8.055466-6.249331-0.005117-0.005117-0.005117-0.005117-0.005117-0.005117L254.825756 517.519714c-15.796778-15.808034-15.796778-41.432645 0-57.245795 15.808034-15.808034 41.437761-15.808034 57.245795 0l137.90279 137.90279 260.611529-260.611529c15.802918-15.802918 41.437761-15.802918 57.240679 0C783.628444 353.378329 783.628444 379.001917 767.82041 394.804834L767.82041 394.804834zM767.82041 394.804834"/>
          </svg>
          <p>Cosmetic Bag</p>
        </div>
      </div>
    </div>
    <div class="progressbar">
      <progress id="myProgress" max="100" value=""></progress>

      <div class="progress_wrap">
        <div class="bar">&nbsp;</div>
      </div>
    </div>
    <div class="fspmsg">
      <span class="msgone"><strong>spend over $50 and get a free award winning gua sha tool</strong></span>
      <span class="msgtwo"><strong>spend over $100 and get a free velvet Cosmetic Bag</strong></span>
      <span class="msgthree"><strong>you have unlocked a free Cosmetic Bag!</strong></span>
    </div>
  </div>
  <form class="cart--form" action="{{ routes.cart_url }}" method="post" novalidate="">
    {%- for item in cart_items -%}
      {% for property in item.properties %}
        {% if property.first == 'Discount' %}
          <input type="hidden" name="discount" id="discount_bogo" value="BOGO Shaper">
        {% endif %}
      {% endfor %}
    {% endfor %}
    <div class="cart--body">
      {%- case view -%}
        {%- when 'desktop' -%}
          <div class="cart--headings" data-item="accent-text">
            <div class="cart--heading--image"></div>
            <div class="cart--heading--title"></div>
            <div class="cart--heading--price">
              {{- price_t -}}
            </div>
            <div class="cart--heading--quantity">
              {{- quantity_t -}}
            </div>
            <div class="cart--heading--total">
              {{- total_t -}}
            </div>
          </div>
          {{- desktop_items -}}
        {%- else -%}
          {{- mobile_items -}}
      {%- endcase -%}
    </div>
    {%- render 'cart-products' -%}
    <div class="cart--footer {{ view }}tab">
      {%- if show_cart_note -%}
        <div class="cart--notes">
          <label for="{{ view }}-cart-note" class="cart--notes--heading">
            {{- order_notes_t -}}
          </label>
          <textarea
            class="cart--notes--textarea"
            id="{{ view }}-cart-note"
            name="note"
          >{{ cart.note }}</textarea>
        </div>
      {%- endif -%}
      <div class="cart--totals">
        {%- if cart.cart_level_discount_applications != blank -%}
          <div class="cart--sub-total">
            <div data-item="block-heading">
              {{- subtotal_t -}}
            </div>
            <div class="money" data-item="accent-text">
              {{- cart.items_subtotal_price | money -}}
            </div>
          </div>

          <div class="cart--discounts">
            <ul>
              {%- for discount_application in cart.cart_level_discount_applications -%}
                <li>
                  <div data-item="accent-text">{{ discount_application.title }}</div>
                  <span data-item="light-accent-text">
                    –<span class="money">{{ discount_application.total_allocated_amount | money }} </span>
                  </span>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        <div class="cart--total">
          <div data-item="block-heading">
            {{- total_t -}}
          </div>
          <div class="cart--total--price money" data-item="accent-text">
            {{- cart.total_price | money_with_currency -}}
          </div>
        </div>

        <div class="cart--tax-info" data-item="paragraph">
          {{- shipping_taxes_t -}}
        </div>

        <div class="cart--nav">
          <div class="cart--continue-shopping" data-item="block-link">
            {%- if view == 'drawer' -%}
              <p tabindex="0" aria-label="{{ 'general.a11y.close' | t }}" data-off-canvas--close>
                {{- continue_t -}}
              </p>
            {%- else -%}
              <a href="{{ routes.all_products_collection_url }}">
                {{- continue_t -}}
              </a>
            {%- endif -%}
          </div>

          <div class="cart--checkout-button " data-item="button">
            <button type="submit" name="checkout">
              <span class="cart-button--text ">
                {{- checkout_t -}}
              </span>
              <span class="cart-button--spinner">
                {%- render 'loading-spinner' -%}
              </span>
            </button>
          </div>
        </div>

        {%- if additional_checkout_buttons -%}
          <div
            class="
              cart--additional-buttons additional-checkout-buttons
              {% unless view == 'desktop' %} additional-checkout-buttons--vertical{% endunless %}
            "
          >
            {{- content_for_additional_checkout_buttons -}}
          </div>
        {%- endif -%}
      </div>
    </div>
  </form>

  <div class="cart--no-items" data-item="paragraph">
    {{- empty_html_t -}}
  </div>
</cart-root>
{% render 'free-products' %}
